<div data-hs-stepper="">
  <ul class="relative flex flex-row gap-x-2 ml-[10%] md:ml-[20%]">
    <li
      class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
      data-hs-stepper-nav-item='{
         "index": 1
         }'
    >
      <span
        class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
      >
        <span
          class="size-7 flex justify-center items-center shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600"
        >
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden"
            >1</span
          >
          <svg
            class="hidden shrink-0 size-3 hs-stepper-success:block"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="ms-2 text-sm font-medium text-gray-800">
          Basic Details
        </span>
      </span>
      <div
        class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"
      ></div>
    </li>
    <li
      class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
      data-hs-stepper-nav-item='{
         "index": 2
         }'
    >
      <span
        class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
      >
        <span
          class="size-7 flex justify-center items-center shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600"
        >
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden"
            >2</span
          >
          <svg
            class="hidden shrink-0 size-3 hs-stepper-success:block"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="ms-2 text-sm font-medium text-gray-800">
          Item Details
        </span>
      </span>
      <div
        class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"
      ></div>
    </li>
    <li
      class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
      data-hs-stepper-nav-item='{
         "index": 3
         }'
    >
      <span
        class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
      >
        <span
          class="size-7 flex justify-center items-center shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600"
        >
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden"
            >3</span
          >
          <svg
            class="hidden shrink-0 size-3 hs-stepper-success:block"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="ms-2 text-sm font-medium text-gray-800"> Status </span>
      </span>
      <div
        class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"
      ></div>
    </li>
  </ul>
  <div class="mt-5 sm:mt-8">
    <div
      data-hs-stepper-content-item='{
            "index": 1
          }'
    >
      <div class="p-4 border border-gray-200 rounded-xl">
        <div class="p-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="space-y-6">
              <div class="grid grid-cols-2 items-center gap-4">
                <label class="font-bold">Customer</label>
                <select
                  data-hs-select='{
                    "hasSearch": true,
                    "searchPlaceholder": "Search...",
                    "searchClasses": "block w-full text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-[1] py-1.5 px-2.5",
                    "searchWrapperClasses": "bg-white p-1.5 -mx-1 sticky top-0",
                    "placeholder": "Select option...",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-2 px-3 pe-9 flex text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-[1]",
                    "dropdownClasses": "mt-2 z-50 w-full max-h-72 p-1 space-y-0.5 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300",
                    "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100",
                    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-blue-600 \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
                    "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
                    }'
                  class="hidden"
                >
                  <option value="">Choose</option>
                  <option value="1">Customer 1</option>
                  <option value="2">Customer 2</option>
                  <option value="3">Customer 3</option>
                </select>
                <label>Customer Name 1</label>
                <input
                  type="text"
                  placeholder="Fetched from Customer master"
                  class="w-full rounded border border-gray-300 bg-gray-100 p-2"
                  disabled
                />

                <label>Customer Name 2</label>
                <input
                  type="text"
                  placeholder="Fetched from Customer master"
                  class="w-full rounded border border-gray-300 bg-gray-100 p-2"
                  disabled
                />

                <label>House & Street Name</label>
                <input
                  type="text"
                  class="w-full rounded border border-gray-300 p-2"
                />
              </div>

              <!-- Ship-to Section -->
              <div class="mt-6 grid grid-cols-2 items-center gap-4">
                <label class="font-bold">Ship-to</label>
                <input
                  type="text"
                  placeholder="Enter or search via Name 1 / search term"
                  class="w-full rounded border border-gray-300 p-2"
                />

                <label>Customer Name 1</label>
                <input
                  type="text"
                  placeholder="Fetched from Customer master"
                  class="w-full rounded border border-gray-300 bg-gray-100 p-2"
                  disabled
                />

                <label>Customer Name 2</label>
                <input
                  type="text"
                  placeholder="Fetched from Customer master"
                  class="w-full rounded border border-gray-300 bg-gray-100 p-2"
                  disabled
                />

                <label>House & Street Name</label>
                <input
                  type="text"
                  class="w-full rounded border border-gray-300 p-2"
                />
              </div>
            </div>

            <!-- Right Column: Additional Information -->
            <div class="space-y-6">
              <div class="grid grid-cols-2 items-center gap-4 p-4">
                <!-- Left Side -->
                <label class="font-bold">Cust Price Proc</label>
                <div class="rounded p-2">Will show if VAT tax</div>

                <label class="font-bold">Payment Term</label>
                <div class="rounded p-2">
                  Shall fetch the data content from Customer master with result
                  from "Customer"<br />
                  Changes are possible
                </div>

                <label class="font-bold">Trading Currency</label>
                <input
                  type="text"
                  class="w-full rounded border border-gray-300 p-2"
                />

                <label class="font-bold">Incoterm</label>
                <input
                  type="text"
                  class="w-full rounded border border-gray-300 p-2"
                />

                <label class="font-bold">Incoterm (Port)</label>
                <div class="rounded p-2">
                  Fetch from Predefined Field (Changeable)
                </div>

                <label class="font-bold">Delivery Date</label>
                <input
                  type="date"
                  class="w-full rounded border border-gray-300 p-2"
                />

                <!-- Right Side -->
                <label class="font-bold">Valid From Date</label>
                <div class="rounded p-2">
                  DDMMYYYY - Default from today (changeable)
                </div>

                <label class="font-bold">Valid To Date</label>
                <div class="rounded p-2">
                  DDMMYYYY - Default + 1 month (changeable)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-hs-stepper-content-item='{
         "index": 2
         }'
      style="display: none"
    >
      <div
        class="p-4 h-48 bg-gray-50 flex justify-center items-center border border-dashed border-gray-200 rounded-xl"
      >
        <h3 class="text-gray-500">Second content</h3>
      </div>
    </div>
    <div
      data-hs-stepper-content-item='{
         "index": 3
         }'
      style="display: none"
    >
      <div
        class="p-4 h-48 bg-gray-50 flex justify-center items-center border border-dashed border-gray-200 rounded-xl"
      >
        <h3 class="text-gray-500">Third content</h3>
      </div>
    </div>
    <div
      data-hs-stepper-content-item='{
         "isFinal": true
         }'
      style="display: none"
    >
      <div
        class="p-4 h-48 bg-gray-50 flex justify-center items-center border border-dashed border-gray-200 rounded-xl"
      >
        <h3 class="text-gray-500">Final content</h3>
      </div>
    </div>
    <div class="mt-5 flex justify-between items-center gap-x-2">
      <button
        type="button"
        class="py-1.5 px-2.5 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
        data-hs-stepper-back-btn=""
      >
        <svg
          class="shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m15 18-6-6 6-6"></path>
        </svg>
        Back
      </button>
      <button
        type="button"
        class="py-1.5 px-2.5 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
        data-hs-stepper-next-btn=""
      >
        Next
        <svg
          class="shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </button>
      <button
        type="button"
        class="py-1.5 px-2.5 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
        data-hs-stepper-finish-btn=""
        style="display: none"
      >
        Finish
      </button>
    </div>
  </div>
</div>
